# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.next/
pocketbase_0.34.0_linux_amd64/pb_data/
*.db
*.db-shm
*.db-wal
bash: .next/: Es un directorio
bash: pocketbase_0.34.0_linux_amd64/pb_data/: Es un directorio
*.db: no se encontró la orden
*.db-shm: no se encontró la orden
*.db-wal: no se encontró la orden

/api-comics/venv/
/api-comics/uploads/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
